* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .bg-img {
    background: url("bg.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
  
  nav {
    background: transparent;
    padding: 10px 10px;
  }
  
  nav .logo {
    float: left;
    margin-left: 20px;
  }
  
  nav .logo h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
  }
  
  hr {
    margin-top: 10px;
    border: none;
    border-top: 1px solid #eee;
  }
  
  .loginbox {
    width: 320px;
    height: 550px;
    background: transparent;
    color: #fff;
    top: 50%;
    left: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .font h4 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }
  
  .font h6 {
    color: red;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  .font .textbox {
    position: relative;
    border-bottom: 1px solid #fff;
    margin: 10px 0;
  }
  
  .font .textbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    background: transparent;
    outline: none;
  }
  
  .font .textbox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .font .textbox input:focus ~ label,
  .font .textbox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
  }
  
  button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: #03a9f4;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background: #0592e5;
    color: #fff;
  }
  